.body {
    background-image: url(./images/grant-logo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* background-blend-mode: v; */
    height: 40vh;
}
