* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}
body {
    overflow-x: hidden;
}
.body {
    background-image: url(./images/grant-logo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* background-blend-mode: v; */
    height: 60vh;
}
.header {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}
.header a i {
    color: #fff;
}
.fa-arrow-left, .fa-bars {
    cursor: pointer;
}
#checkbox {
    display: none;
}
.fa-bars {
    color: white;
    font-size: 22px;
}
 .fa-arrow-left {
    color: #000;
    position: absolute;
    z-index: 9999;
    font-size: 22px;
}

.fa-search {
    color: #fff;
    font-size: 22px;
}
#checkbox:checked ~ .open {
    display: none;
}
#checkbox:checked ~ .close {
    display: block;
}
#checkbox:checked ~ nav {
    transform: translateX(0);
}
.close {
    display: none;
    color: #000;
}
nav ~ body {
    /* position: fixed; */
}
nav {
    background-color: white;
    height: 100vh;
    position: fixed;
    overflow-y: scroll;
    top: 0;
    padding: 1rem;
    padding-top: 4rem;
    left: 0;
    box-shadow:  10px -10px 100px 100px rgba(17, 16, 16, 0.3);
    transition: all .3s linear;
    transform: translateX(-100%);
    width: 55%;
    z-index: 999;
}
nav li {
    list-style-type: none;
} 
nav a {
    text-decoration: none;
    color: blue;
}
nav ul {
    margin-top: 2rem;
    line-height: 1.6;
}
.img img {
    width: 100%;
    height: 45vh;
    margin-top: 2rem;
}
.img2 img {
    width: 100%;
    margin-top: 2rem;
}
.line {
    text-align: center;
    color: gainsboro;
    letter-spacing: 2px;
}
.content {
    text-align: center;
    margin-top: 4rem;
}
.content h2 {
    font-size: 27px;
    color: #FFFF;
}
.content p {
    font-size: 18px;
    color: #FFFF;
    margin-top: 1rem;
}
.list ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
}
.list a {
    text-decoration: none;
    color: #fff;
}
.box-1 {
    background: #FFFF;
    width: 95%;
    margin: auto;
    position: absolute;
    left: 2%;
    top: 45%;
    padding: 1rem;
}
.box-1 h3 {
    width: 80%;
}
.get {
    background: white;
    box-shadow: 1px 1px 5px 3px gray;
    border-radius: 10px;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    left: 52%;
    padding: 1rem;
    width: 45%;
}
.get-link:hover {
    
}
.get.open {
    visibility: visible;
    opacity: 1;
    margin-top: 2rem;
}
.box-1.open {
    
}
.get-link {
    display: flex;
    gap: 2rem;
    margin: 1rem 0 1.2rem 0;
}
.get-link p {
    font-size: 17px;
}
.fa-share-nodes {
    cursor: pointer;
    font-size: 25px;
    font-weight: 100;
    /* margin-top: -9rem; */
}
.cares {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: -2rem;
}
.Us {
    margin-top: 2rem;
    display: flex;
    gap: 1rem;
}
.Us img {
    width: 30%;
    height: 20vh;
}
.Us p {
    line-height: 1.4;
    font-size: 15px;
}
.readmore {
    text-align: end;
    margin-top: 1rem;
}
.readmore button {
    background: transparent;
    border: none;
    padding: 0.7rem;
}
.readmore button:hover {
    background-color: aquamarine;
    transition: all .3s linear;
}
.readmore a {
    color: #2196F3;
    font-size: 18px;
    text-decoration: none;
}
.background {
    background: #2196F3;
    padding-bottom: 1rem;
    padding-top: 14rem;
}
.HHS {
    background-color: #FFFF;
    width: 95%;
    margin: auto;
    margin-top: 3rem;
    padding: 1rem;
}
.HHSs {
    background-color: #FFFF;
    width: 95%;
    margin: auto;
    margin-top: 2rem;
    padding: 1rem;
}
.gram {
    width: 107%;
}
.gram a {
    text-decoration: none;
}
.gram-2, .d-same-2, .health-2, .Leader-2 {
    display: none;
}
.footer {
    margin-top: 2rem;
    text-align: center;
}